<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fuchuang.mapper.ResourceMapper">
<!--    未测试-->
    <resultMap id="resourceResultMap" type="com.fuchuang.pojo.Resource">
        <id property="id" column="resource_id"/>
        <result property="workspace" column="workspace"/>
        <result property="type" column="resource_type"/>
        <result property="end_time" column="to_free_time"/>
        <collection property="processes" column="resource_id" javaType="java.util.List" select="com.fuchuang.mapper.DistriProcessMapper.selectDProcessByResourceId"/>
    </resultMap>
<!-- 未测试-->
    <insert id="insertResource" parameterType="com.fuchuang.pojo.Resource">
        insert into resource (workspace, resource_type, to_free_time)
            values (#{workspace},#{type},#{end_time})
    </insert>

    <update id="updateResource" parameterType="java.util.ArrayList">
        <foreach item="Resource" collection="list" separator=";">
            update resource
            <set>
                to_free_time = #{Resource.end_time}
            </set>
                where resource_id = #{Resource.id}
        </foreach>
    </update>

    <update id="updateToZero">
        update resource set to_free_time=0;
    </update>

    <select id="selectAllResource" resultMap="resourceResultMap">
        select * from resource
    </select>

    <delete id="deleteResource" parameterType="int">
        delete from resource where resource_id=#{resource_id}
    </delete>

    <select id="selectResourceType" resultType="com.fuchuang.pojo.ResourceType">
        select count(*) as amount, workspace as "workspace",resource_type as "resource_type"
        from resource where workspace=#{arg0} and resource_type=#{arg1}
    </select>

</mapper>